@model List<Reservation>

<div class="container mb-3">
    <h1>My Reservations</h1>
</div>



<div class="container mt-5">
    <div class="row">
        <div class="col align-self-center">
            <p class="lead text-center">No reservations yet</p>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <a class="btn btn-primary" asp-action="ReservationCreation" asp-controller="Reservation">
                Make Reservation
            </a>
        </div>
    </div>
</div>
