@model Reservation

<h1>Make a New Reservation</h1>

<form class="w-50" asp-action="MakeReservation" asp-controller="Reservation">
    <div class="form-group">
        <label asp-for="Address">Address</label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Postcode">Postcode</label>
        <input asp-for="Postcode" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Timeslot">Timeslot</label>
        @Html.DropDownListFor(model => model.Timeslot, new SelectList(Enum.GetValues(typeof(TIMESLOT))), new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label asp-for="ServiceType">Service Type</label>
        @Html.DropDownListFor(model => model.ServiceType, new SelectList(Enum.GetValues(typeof(SERVICE_TYPE))), new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label asp-for="ReservationDate">Service Type</label>
        <input asp-for="ReservationDate" class="form-control" />
    </div>

    <label asp-for="MaidId"></label>
    <select asp-for="MaidId" class="custom-select">
        @foreach (var maid in (List<Maid>)ViewBag.maidList)
        {
            <option value="@maid.MaidId">@maid.FullName</option>
        }
    </select>
    <button type="submit" class="btn btn-primary mt-3">Make Reservation</button>
</form>

